* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(images/background.jpg);
    height: 100vh; 
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0.5,0.5,0.5,0.8);
}


/* nav  */
#nav_b {
    display: flex;
    background: -webkit-linear-gradient(top, rgba(0,0,0,3),  rgba(0,0,0,0));  
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    /* justify-content: space-between; */
}

#navbar nav {
    /* padding: 10px 10px;  */
     height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
} 
nav a img {
    width: 150px;
    padding: 20px;
    justify-content: right;
}
.navbar ul {
    display: flex;
    list-style: none;
    padding: 10px 20px;
}
.navbar ul li {
    padding: 0 20px;
}
.navbar ul li a:hover {
    color: rgb(220, 29, 29); 
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    transition: .3s;
}

#navbar_two {
    display: none;
}

#navtwo {
    top: 0%;
    right: -250px;
    position: fixed;
    width: 250px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,3),  rgba(0,0,0,0));  
    z-index: 2;
    height: 100vh;
    transition: 0.5s;
    font-size: 20px;
}
#navtwo ul li {
    list-style: none;
    margin: 80px 30px;
} 
#navtwo ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
} 
#navtwo ul li a:hover {
    color: rgb(220, 29, 29); 
} 
#menubtn {
    width: 35px;
    position: fixed;
    top: 35px;
    right: 70px;
    z-index: 2;
    cursor: pointer;
    color: white;
}

/* banner */

.banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 40px 100px;

    justify-content: space-between;
}

/* slider */

.pic_slider {
  flex-basis: 50%;
  margin-left: -70px;
}
.pic_slider img {
    width: 800px;
    height: 600px;
}

/* login */

.login_page {
    flex-basis: 50%;
    max-width: 400px;
    background-color:  rgba(0,0,0,0.7);
    padding: 30px;
    border: 2px solid white;
    border-radius: 15px 0 15px 0;
}
form input {
    width: 100%;
    padding: 18px 0px;
    margin: 15px 0;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 17px;
}
form button {
    width: 60%;
    padding: 13px 0px;
    margin: 15px 0 35px;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(220, 29, 29);
    color: white;
    cursor: pointer;  
}
form button:hover {
    /* padding: 15px 0; */
    width: 65%;
}
form p {
    color: white;
    text-align: center;
}
form p a {
    text-decoration: none;
    color: rgb(220, 29, 29);
}
form p a:hover {
    font-weight: 600;
}
.btn {
    text-align: center;
}

/* sign up */

.half input{
    width: 48%;
    padding: 15px 0;
    font-size: 15px;
    border-radius: 3px;
    margin: 10px 0;
}
.half {
    display: flex;
    justify-content: space-between;
}
.sign-up .full {
    width: 100%;
    padding: 15px 0px;
    margin: 10px 0;
    outline: none;
    border-radius: 3px;
    border: none;
    font-size: 15px;
}
.half label {
    color: white;
}
.half select {
    padding: 15px 5px;
    border-radius: 3px;
}
.half select option {
    font-size: 15px;
}
.terms label {
   color: white;
   font-size: 12px;
} 
.terms input {
    margin: 0;
    padding: 0;
    width: 15px;
    height: 14px;
}
.terms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}
.sign-up {
    display: none;
    margin-top: 15px;
}
.gender {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin: 5px 40px 7px;
}
.two {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 12px;
}
.two select {
     padding: 10px 20;
     font-size: 15px;
     border: none;
     width: 45%;
     height: 30px;
     border-radius: 3px;
}

/* available  */

.avail {
   display: none;
}

/* footer  */

.footer {
    margin-top: 30px;
    width: 100%;
    padding: 20px 0;
    background-color:  rgba(0,0,0,0.7);

}
.footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
}
.footer p a {
    text-decoration: none;
    color: rgb(220, 29, 29);
}
.footer p a:hover {
/* font-weight: 600; */
color: rgb(115, 220, 115);
}

.footer hr {
margin-top: 6px;
}

@media only screen and (max-width: 770px) {

    /* navbar  */

    .navbar {
        display: none;
    }
    #navbar_two {
        display: block;
    }
    #navtwo {
        width: 150px;
        font-size: 15px;
    }
    #navtwo ul li {
        list-style: none;
        margin: 40px 30px;
    } 
    #navtwo ul .first {
        margin-top: 80px;
    }
  
    #menubtn {
         width: 35px;
        position: fixed;
        top: 43px;
        right: 10px;
    }
    
    /* banner */
    .pic_slider {
        display: none;
    }

    /* login */

    .login_page {
        flex-basis: 70%;
    }
    .banner {
        margin: 100px auto 60px;
    }
    form input {
        padding: 15px 0px;
        margin: 12px 0;
        border-radius: 5px;
        font-size: 14px;
    }
    form button {
        width: 60%;
        padding: 10px 0px;
        margin: 15px 0 35px;
        font-size: 13px;
    }
    form p {
      font-size: 13px;
    }

     /* sign up  */

     .half input{
        width: 48%;
        padding: 15px 0;
        font-size: 12px;
    }
    .half label {
        font-size: 12px;
    }
    .terms label {
        font-size: 10px;
        margin-left: 5px;
    }
    .btn_two {
        margin-top: -12px;
    }
    .m-two {
        margin-top: -12px;
    }



    /* available  */

    .avail {
        display: block;
        background: black;
        border-radius: 10px;
        border: none;
        color: white;
        padding: 5px 8px;
        text-align: center;
        margin: 15px auto 20px;
        width: 35%;
        cursor: pointer;
        /* margin: 15px 0; */
    }
    .avail p {
        font-size: 15px;
        margin-bottom: 3px;
    }
    .avail img {
        height: 20px;
        width: 20px;
    }

    /* footer  */

    .footer p {
        font-size: 11px;
    }




}



@media only screen and (max-width:815px) {

    
    /* available  */

    .avail {
        display: block;
        background: black;
        border-radius: 10px;
        border: none;
        color: white;
        padding: 8px 15px;
        text-align: center;
        margin: 15px auto 20px;
        width: 35%;
        cursor: pointer;
        /* margin: 15px 0; */
    }
    .avail p {
        font-size: 15px;
        margin-bottom: 3px;
    }
    .avail img {
        height: 30px;
        width: 30px;
    }
    .pic_slider img {
        width: 600px;
        height: 500px;
    }
    .pic_slider {
        margin-left: 10px;
    }

    .login_page {
     margin: auto;
    }
}